numpy>=1.0,<2.0
pandas>=0.24.0,<2.0

# Package dependencies
setuptools
wheel
twine

# Testing/Linting
pylint>=2.0,<3.0
black==20.8b1
faker>=4.0,<5.0
pydocstyle>=5.0,<6.0
pytest>=5.0,<6.0
mypy>=0.70,<1.0
